{% extends "base.html" %}

{% block announce %}
    🎉 <strong>Une nouvelle version de la base centrale de l'EDS est disponible : v2.13.0-SNAPSHOT ! </strong> Plusieurs nouveautés sont disponibles. <a href="/isd/data-engineering/eds-central-database/v2.13.0-SNAPSHOT/changelog/EDS-CENTRAL-DATABASE_CHANGELOG">En savoir plus</a><br><br>
    Une <strong>nouvelle page</strong> est disponible pour visualiser rapidement <strong>les particularités et les bonnes pratiques</strong> de la Base Centrale de l'EDS. <a href="/isd/data-engineering/eds-central-database/dev/specificities_best_practices/">En savoir plus</a>
{% endblock %}
